<h1>Recordatorios</h1>

<div class="app-container">
  <p-table [value]="reminders" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Prioridad</th>
            <th>Estado</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-reminder>
        <tr>
            <td>{{ reminder.nombre }}</td>
            <td>{{ reminder.categoria }}</td>
            <td>{{ reminder.prioridad }}</td>
            <td>{{ reminder.estado }}</td>
        </tr>
    </ng-template>
  </p-table>
  <button type="submit" (click)="addReminder()">Añadir</button>
</div>
